.page-header {
  position: relative;
  height: 100vh;
  overflow: hidden;
  background-color: #4a4c55;

  .slider-btn {
    display: block;
    position: absolute;
    top: 50%;
    z-index: 1;
    width: 44px;
    height: 44px;
    margin-top: -90px;
    padding: 0;
    border: none;
    border-radius: 3px;
    font-size: 0;
    background: #fff url("../../img/feachers-spritesheet.png") no-repeat;
    opacity: .25;
    outline: none;

    &:hover {
      opacity: 1;
    }

    @media screen and (max-width: 510px) {
      display: none;
    }
  }

  .slider-prev-btn {
    left: 4%;
    background-position: -117px -15px;

    &:hover {
      background-position: -210px -16px;
    }
  }

  .slider-next-btn {
    right: 4%;
    background-position: -163px -15px;

    &:hover {
      background-position: -256px -16px;
    }
  }

  &::after {
    content: "";
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;

    border-width: 15vh 50vw 4vh 50vw;
    border-style: solid;
    border-color: transparent #fff #fff #fff;
  }
}
/*------- slider nav -------*/

.control {
  position: relative;
  display: none;
  float: left;
  width: 52px;
  height: 52px;
  border: 4px solid currentColor;
  color:  #f4f5f9;
  text-align: center;
  font-size: 0;
  cursor: pointer;

  &:before {
    content: "";
    display: inline-block;
    margin-top: 11px;
    width: 36px;
    height: 5px;
    background-color: currentColor;
  }

  &::after {
    content: "";
    display: inline-block;
    margin-top: 12px;
    width: 36px;
    height: 5px;
    background-color: currentColor;
  }

  @media screen and (max-width: 640px) {
    display: inline-block;
  }
}

.main-navigation {
  position: relative;
  z-index: 3;
  padding-top: 40px;
  padding-bottom: 40px;

  @media screen and (max-width: 768px) {
    text-align: center;
  }

  @media screen and (max-width: 640px) {
    text-align: right;
  }

  .site-navigation-show-down {
    height: 0;
    li {
      height: 0;
      overflow: hidden;
    }
  }
}

.main-header-logo {
  display: inline-block;
  float: left;
  font-size: 0;

  @media screen and (max-width: 768px) {
    float: none;
    margin-bottom: 15px;
  }
}

.site-navigation {
  float: right;
  height: 52px;
  font-size: 0;

  @media screen and (max-width: 768px) {
    float: none;
    text-align: center;
  }

  li {
    display: inline-block;
    vertical-align: middle;
    transition: all .2s ease;

    &:last-child a {
      padding-right: 0;

      @media screen and (max-width: 768px) {
        padding-right: 15px;
      }
    }

    @media screen and (max-width: 635px) {
      display: block;
      text-align: center;
      background-color: #202020;
    }
  }

  .active {
    a {
      position: relative;
      font-weight: 700;
      color: $color-red;

      &:after {
        position: absolute;
        left: 15px;
        right: 15px;
        bottom: 0;
        height: 1px;
        background-color: currentColor;
        content: "";
      }
    }
  }

  a {
    display: inline-block;
    vertical-align: middle;
    padding: 16px 15px;
    @include font-size(14px);
    @include line-height(20px, 14px);
    text-decoration: none;
    text-transform: uppercase;
    transition: color 0.2s ease;
    color: #f4f5f9;

    &:hover {
      color: $color-red;
    }
  }
}

.header-icon-down {
  display: inline-block;
  box-sizing: content-box;
  position: absolute;
  z-index: 3;
  bottom: 5px;
  left: 50%;

  width: 64px;
  height: 64px;
  margin-left: -38px;

  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, 0.2);
  background-clip: padding-box;
  background-color: #f4f5f9;
  background-image: url("../../img/header-icon-down.png");
  background-repeat: no-repeat;
  background-position: center;

  font-size: 0;
}

/*------- slider -------*/
.header-slider {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  text-align: center;

  .slick-list {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .slick-track {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .slick-slide {
    font-size: 0;
  }

  .slider-item {
    position: relative;
    vertical-align: top;
    height: 100vh;
  }

  .slider-item-bg {
    display: inline-block;
    vertical-align: top;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7);
    }
  }

  .slider-item-content {
    display: block;
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }

  .slider-item-slogan {
    display: block;
    margin-bottom: 35px;

    font-family: "Source Sans Pro", sans-serif;
    text-transform: capitalize;
    @include font-size(24px);
    @include line-height(27px, 24px);
    @include letter-spacing(50);
    font-weight: 400;
    color: #f4f5f9;

    @media screen and (max-width: 510px) {
      display: none;
    }
  }

  .slider-item-greeting {
    position: relative;
    display: block;
    padding: 0;
    margin: 0;

    text-transform: uppercase;
    @include font-size(72px);
    @include line-height(78px, 72px);
    @include letter-spacing(100);
    font-weight: 700;
    color: #f4f5f9;

    @media screen and (max-width: 510px) {
      @include font-size(52px);
      @include line-height(58px, 52px);
      @include letter-spacing(50);
    }
  }

  .slider-item-description {
    display: block;
    max-width: 615px;
    margin: 0 auto 64px;
    padding: 0;
    color: #cbc6c0;
    @include font-size(14px);
    @include line-height(24px, 14px);

    @media screen and (max-width: 635px) {
      padding: 0 15px;
    }

    @media screen and (max-width: 510px) {
      display: none;
    }
  }

  .underline {
    margin-bottom: 40px;
    &:before,
    &:after {
      background-color: #f1ebe7;
    }
  }

  .greeting-title {
    display: block;
    margin: 0 auto;
    margin-bottom: 35px;

    @media screen and (max-width: 992px) {
      width: 500px;
    }

    @media screen and (max-width: 510px) {
      width: 320px;
    }
  }

  .btn {
    display: inline-block;
    vertical-align: middle;

    width: 225px;
    height: 52px;
    margin: 0 15px 0;

    @include font-size(14px);
    @include letter-spacing(-20);
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;

    border: 1px solid #fff;
    border-radius: 3px;

    &:before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      height: 100%;
    }

    @media screen and (max-width: 526px) {
      width: 150px;
    }
  }

  .slider-item {
    font-size: 0;
  }

  .btn-important {
    border: none;
    box-shadow: 0px 2px 4.75px 0.25px rgba(0, 0, 0, 0.25);
    background-color: $color-red;
  }
}
