.others {
  position: relative;
  overflow: hidden;
  padding: 141px 0 140px;
  background-color: #f4f5f9;
  text-align: center;

  .section-header {
    margin: 0 0 20px;
  }

  .section-title {
    max-width: 620px;
  }

  .others-list {
    font-size: 0;
  }

  .other-item {
    display: inline-block;
    width: 18%;
    height: 100px;
    margin: 0 1% 3%;
    box-shadow: 0px 1px 3px 0px rgba(31, 31, 31, 0.09);
    transition: all .2s ease;

    @media screen and (max-width: 992px) {
      width: 45%;
    }

    @media screen and (max-width: 510px) {
      width: 65%;
    }

    &:hover {
      box-shadow: 0px 3px 9px 1px rgba(31, 31, 31, 0.3);
    }

    &:hover a::after{
      filter: grayscale(0%) opacity(1) contrast(100%);
    }
  }

  a {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #fff;

    &:before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      height: 100%;
    }

    &::after {
      content: "";
      display: inline-block;
      vertical-align: middle;
      background-image: url("../../img/logo-sprite-sheet.png");
      background-repeat: no-repeat;
      filter: grayscale(100%) opacity(.3) contrast(200%);
      transition: all .2s ease;
    }
  }

  .img-1:after  {
    width: 155px;
    height: 45px;
    background-position: -140px 0px;
  }

  .img-2:after  {
    width: 138px;
    height: 39px;
    background-position: 0px 0px;
  }

  .img-3:after  {
    width: 120px;
    height: 59px;
    background-position: 0px -125px;
  }

  .img-4:after  {
    width: 151px;
    height: 59px;
    background-position: -124px -53px;
  }

  .img-5:after  {
    width: 103px;
    height: 79px;
    background-position: 0px -43px;
  }

  .img-6:after  {
    width: 132px;
    height: 52px;
    background-position: -317px -108px;
  }

  .img-7:after  {
    width: 100px;
    height: 58px;
    background-position: -138px -130px;
  }

  .img-8:after  {
    width: 160px;
    height: 23px;
    background-position: -309px -34px;
  }

  .img-9:after  {
    width: 138px;
    height: 68px;
    background-position: -508px -24px;
  }

  .img-10:after  {
    width: 169px;
    height: 24px;
    background-position: -528px -136px;
  }
}
