.pricing {
  position: relative;
  padding: 150px 0 145px;
  text-align: center;

  .section-header {
    position: relative;
    z-index: 3;
    @include letter-spacing(100);
  }

  .pricing-list-item {
    float: left;
    position: relative;
    width: 32%;
    padding: 50px 0;
    background-color: #f4f5f9;

    @media screen and (max-width: 768px) {
      float: none;
      margin: 0 auto 30px;
      width: 70%;
      min-width: 300px;
    }

    & + .pricing-list-item {
      margin-left: 2%;

      @media screen and (max-width: 768px) {
        float: none;
        margin: 0 auto 30px;
        width: 70%;
        min-width: 300px;
      }
    }

    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 1;
      height: 206px;
      background-color: #999999;
    }
  }

  .active {

    .count {
      color: $color-red;

      &::after {
        color: #999999;
      }
    }

    .pricing-btn {
      background-color: $color-red;
    }

    &:before {
      background-color: #e74c3c;
    }
  }


  .item-title {
    position: relative;
    z-index: 3;
    display: block;
    margin-bottom: 45px;
    font-weight: 600;
    @include font-size(24px);
    @include letter-spacing(75);
    @include line-height(28px, 24px);
    text-transform: uppercase;
    color: #fff;
  }

  .pricing-benefits {
    position: relative;
    z-index: 3;
    min-width: 206px;
    margin-bottom: 36px;
  }

  .count {
    display: inline-block;
    vertical-align: middle;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 700;
    @include font-size(38px);
    @include line-height(22px, 38px);
    text-align: center;
    color: #999999;

    &::after {
      content: "per month";
      display: block;
      margin-top: 10px;
      font-weight: 600;
      @include font-size(13px);
      @include line-height(22px, 13px);
    }
  }

  .item-price {
    position: relative;
    z-index: 3;
    display: block;
    margin: 0 auto 24px;
    width: 174px;
    height: 174px;
    border-radius: 50%;
    background-color: #fff;
    border: 11px solid rgba(255, 255, 255, .25);
    background-clip: padding-box;
    font-size: 0;

    &:before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      height: 100%;
    }
  }

  .benefits-item {
    font-weight: 600;
    @include font-size(14px);
    @include line-height(40px, 14px);
    text-transform: capitalize;
    color: #999999;
  }

  .pricing-btn {
    display: inline-block;
    padding: 15px 31px 14px;
    @include font-size(12px);
    @include line-height(14px, 12px);
    background-color: #999999;
    color: #fff;
  }
}
