body {
    font-family: 'Montserrat', sans-serif;
    counter-reset: goods;
    counter-increment: goods +2;
}

@media (max-width: 345px) {
    body {
        min-width: 320px;
    }
}
.main-header {
    background: #232323;
}
@media (min-width: 768px) {
    .main-header {
        padding-bottom: 45px;
    }
}
.header-stripe {
    background: #2b2b2b;
    padding-top: 10px;
    padding-bottom: 10px;
}
.header-stripe a {
    color: #7f7f7f;
    text-decoration: none;
    font-weight: 300;
    font-size: .875rem;
}
.header-stripe a:hover {
    color: white;
}
.or {
    margin: 0 10px;
    color: #be926f;
    font-size: .75rem;
}

@media (max-width:345px) {
    .or {
        display: none;
    }
}
.log-reg-a a {
    color: #666;
}
@media (max-width:345px) {
    .log-reg-a a:first-child {
        margin-right: 10px;
    }
}
.p-30 {
    padding-top: 30px;
    padding-bottom: 30px;
}
@media (max-width: 576px) {
    .mt-10 {
        margin-top: 15px;
    }
}
@media (max-width: 576px) {
    .sm-center {
        text-align: center;
    }
}
#header-search {
    vertical-align: top;
    float: right;
    height: 45px;
    width: 275px;
    position: relative;
    text-align: right;
}
@media (max-width: 576px) {
    #header-search {
        vertical-align: top;
        float: none;
        height: 45px;
        width: 275px;
        position: relative;
        text-align: right;
        margin-right: auto;
        margin-left: auto;
    }
}
#header-search input {
    display: inline-block;
    height: 45px;
    width: 275px;
    background-color: transparent;
    border: 1px solid #323232;
    outline: none;
    color: white;
    font-size: .812rem;
    padding: 0 46px 0 5px;
}
#header-search input::placeholder {
    color: #666;
    font-size: .812rem;
    font-weight: 300;
}
#header-search input:focus {
    border: 1px solid white
}
#header-search button {
    display: inline-block;
    height: 45px;
    width: 45px;
    background-color: transparent;
    background-image: url("img/search.svg");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
}
.header-menu ul {
    padding-left: 0;
}
.header-menu li {
    display: inline-block;
}
@media (max-width: 575px) {
    .header-menu li {
        display: block;
    }
}
.header-menu li + li {
    margin-left: 45px;
}
@media (max-width: 992px) {
    .header-menu li + li {
        margin-left: 25px;
    }
}
@media (max-width: 768px) {
    .header-menu li + li {
        margin-left: 23px;
    }
}
@media (max-width: 575px) {
    .header-menu li + li {
        margin-left: 0;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}
.header-menu a {
    text-decoration: none;
    color: #fff;
    font-size: 1em;
}
.header-menu a:hover,
.active-link a {
    color: #be926f;
}
.shopping-bag {
    position: absolute;
    top: 0;
    right: 23px;
}
@media (max-width: 767px) {
    .shopping-bag {
        top: -105px;
        right: 23px;
    }
}
.shopping-bag a {
    display: block;
    height: 24px;
    width: 19px;
    background: transparent url("img/bag.svg") no-repeat;
    background-position: center;
    background-size: contain;
}
.shopping-bag a::before {
    content: counter(goods);
    display: block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #be926f;
    position: absolute;
    top: -5px;
    right: -10px;
    color: #232323;
    line-height: 18px;
    font-size: .75rem;
    text-align: center;
}
@media (max-width: 575px) {
    .shopping-bag {
        top: 0;
        right: 15px;
    }
    .shopping-bag a {
        height: 50px;
        width: 50px;
    }
    .shopping-bag a::before {
        width: 20px;
        height: 20px;
        line-height: 20px;
        top: -5px;
        right: 0;
    }
}