body {
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	color: #874535;
	font-size: 30px;
	text-align: center;
	height: 500px;
	font-weight: bold;
	line-height: 2;
}