
.some{
  width: 100%;
  max-width: 2000px;
  position: relative;
  padding-top: 3.7%;
  padding-bottom: 3.1%;
  margin: 0 auto;
  &:before {
    position: absolute;
    content: '';
    background-color: rgba($color_8, 0.61);
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
}

.some {
  background: $color_3 url("../img/city0.jpg") center/cover no-repeat;
}


.h2_title_some {
  @include h2_title;
  margin-bottom: 1%;
  h2 {
    @include font-size(20.91px);
  }

}
.heart_some{
  @include title_heart;
  margin-bottom: 5%;
  opacity: .5;
  width: 170px;
  background: url("../img/icons/heart2.png") center no-repeat;
  &:before,
  &:after {
    width: 67px;
    background-color: $color_1;
    opacity: .5;
  }
}

.fact_wrap1,
.fact_wrap2,
.fact_wrap3,
.fact_wrap4 {
  width: 100%;
  padding-top: 45.5%;
  position: relative;
  margin-bottom: 20%;
  &:before {
    position: absolute;
    content: '';
    width: 97px;
    height: 97px;
    border: 1px rgba(255, 255, 255, 0.4) solid;
    border-radius: 50%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .value {
    @include OpenSansS;
    @include font-size(44.8px);
    color: $color_1;
    text-align: center;
    margin-bottom: 1%;

  }
  .fact {
    @include OpenSans;
    @include font-size(13.44px);
    color: $color_1;
    text-align: center;
    text-transform: uppercase;

  }
}

@media (max-width: 575px){
  .fact_wrap1,
  .fact_wrap2,
  .fact_wrap3,
  .fact_wrap4 {
    padding-top: 20%;
    margin-bottom: 10%;
  }
}


@media (max-width: 768px){
  .fact_wrap1,
  .fact_wrap2,
  .fact_wrap3,
  .fact_wrap4 {
    padding-top: 40%;
    margin-bottom: 10%;
  }
}

@media (max-width: 989px){
  .fact_wrap1,
  .fact_wrap2,
  .fact_wrap3,
  .fact_wrap4 {
    margin-bottom: 10%;
    padding-top: 30%;
  }
}

.fact_wrap1:before {
  background: url("../img/icons/clock.png") center no-repeat;
}

.fact_wrap2:before {
  background: url("../img/icons/friends.png") center no-repeat;
}

.fact_wrap3:before {
  background: url("../img/icons/rocket.png") center no-repeat;
}
.fact_wrap4:before {
  background: url("../img/icons/cup.png") center no-repeat;

}
