/*-------------поведінка гіпертексту---------------*/
a {
    text-decoration: none;
    color: #7f7f7f;
}

a:visited {
    text-decoration: none;
    color: #7f7f7f;
}

a:hover {
    text-decoration: none;
    color: #be926f;
}

/*------------------------------------------------*/
body {
    font-family: 'Montserrat', sans-serif;
    min-width: 1170px;
    }
.clearfix:after {
    display: table;
    clear: both;
    content: "";
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    width: 1170px;
}
header {
    background-color: #232323;
}
.top_header {
    background-color: #2b2b2b;
}
.header_phone {
    line-height: 1.714;
    font-weight: 300;
    font-size: 14px;
    /*float: left;*/
    padding: 5px 0;
    flex-direction: row;
}

.top_header_menu a {
   color: #666666;
}

.top_header_menu a:hover  {
    text-decoration: underline;
}
.top_header_menu {
    font-weight: 400;
   /* float: right;*/
    padding: 7px 0 3px;
}
.or {
    color: #3b3b3b;
    padding: 0 10px;
}
.middle_header {
    /*height: 100px;*/

}

.main_logo {
    /*display: inline-block;*/
    padding: 30px 0 20px 0;
}
.form {
    margin: 30px 0 20px 0;
    /*float: right;*/
    border: 1px solid #666666;
}
.form input {
    background: transparent;
    color: #666666;
    padding: 17px 8px 8px 24px;
    border: none;
    outline: none;
    }

.form input::-webkit-search-decoration,
input::-webkit-search-cancel-button,                 /*забрали хрестик в input*/
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
    display: none;
}

.form input::placeholder {
    color: #666666;
    font-size: 13px;
    line-height: 1.84;
    font-weight: 300;
}
.bottom_header {
    min-height: 68px;

}

.form button {
    border: none;
    background: transparent url("../img/search.png") center center no-repeat;
    height: 44px;
    width: 56px;
    display: inline-block;
    vertical-align: top;
    outline: none;
    cursor: pointer;
}

.bottom_header ul {
    list-style: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    margin-left: -54px;
    /*display: inline-block;
    float: left;*/
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}


.bottom_header a{
   color: #ffffff;
    padding: 10px;
}
.active_menu a {
    color: #be926f;
}

.bottom_header a:active {
    color: #be926f;
}
.bottom_header a:hover {
    text-decoration: underline;
    color: #be926f;
}
.bottom_header li {
    /*display: inline-block;*/

}

.bottom_header li+li {
    margin-left: 29px;
}
.bag {
    background: transparent url("../img/bag.png") center center no-repeat;
    height: 22px;
    width: 17px;
    position: relative;
}
.bag:before {
    content: attr(data-counter);
    top: 3px;
    right: 1px;
    line-height: 18px;
    width: 18px;
    border-radius: 100%;
    background-color: #be926f;
    color:#232323;
    font-size: 12px;
    position: absolute;
    font-weight: 300;
    text-align: center;
}

.main {
    margin: 34px auto 0;
    height: 117px;
    width: 1170px;
    background-color: #e7e7e7;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

h1 {
    padding-top: 20px;
    padding-left: 28px;
    font-size: 30px;
    line-height: 1.25;
}

.home_contact {
   /* float: right;*/
    font-size: 14px;
    padding-right: 15px;
    padding-top: 50px;

}

.home_contact a {
    color: #666666;

}

.home_contact a:hover {
    color: #999999;
}