.clock{
    margin: 50px auto;
    position: relative;
    width: 400px;
    height: 400px;
    border: 4px solid #000;
    border-radius: 100%;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    background: #fff url(../img/Circles.jpg) center center no-repeat;
}

.arrow_hour,
.arrow_min,
.arrow_sec {
    position: absolute;
    top: 50%;
    left:50%;
    transform: rotate(270deg);
    transform-origin: 0 50%;
    animation: clock 216000s linear infinite;
    border-radius: 4px 0 0 4px;
}

.arrow_hour {
    margin-top: -3px;
    height: 6px;
    width: 100px;
    animation: clock 3600s linear infinite;
    background-color: #000;

}

.arrow_min {
    margin-top: -2px;
    height: 4px;
    width: 140px;
    animation: clock 3600s linear infinite;
    background-color: #000;


}

.arrow_sec {
    margin-top: -1px;
    height: 2px;
    width: 180px;
    animation: clock 60s linear infinite;
    background-color: red;

}

@keyframes clock {
    0% {
        transform: rotate(-90deg);
    }
    100% {
        transform: rotate(270deg);
    }
}

.numbers{
    width:100%;
    height:100%;
    border-radius:50%;
}

.big_number,
.other_numbers{
    list-style:none;
}

.big_number li {
    position:absolute;
    width:60px;
    height:60px;
    text-align:center;
    line-height: 48px;
    font-size: 40px;
    color:#000;
}

.big_number li:first-child {
    top:0;
    left: 170px;
}

.big_number li:nth-child(2){
    top:172px;
    left: 350px;
}

.big_number li:nth-child(3){
    bottom: -10px;
    left: 174px;
}

.big_number li:last-child{
    top:177px;
    left: -10px;
}

.other_numbers li {
    position: absolute;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 25px;
    font-size: 20px;
    color: brown;
}

.other_numbers li:first-child {
    top: 40px;
    left: 270px;
}

.other_numbers li:nth-child(2){
    top: 106px;
    left: 338px;
}

.other_numbers li:nth-child(3){
    top: 269px;
    left: 334px;
}

.other_numbers li:nth-child(4){
    top: 331px;
    left: 277px;
}

.other_numbers li:nth-child(5){
    top: 337px;
    left: 104px;
}

.other_numbers li:nth-child(6){
    top: 270px;
    left: 37px;
}

.other_numbers li:nth-child(7){
    top: 109px;
    left: 32px;
}

.other_numbers li:nth-child(8){
    top: 40px;
    left: 96px;
}