body {
    font-family: Arial, sans-serif;
    counter-reset: boxes;
}
.wrapper {
  margin: 100px auto;;
  max-width: 920px;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 0;
}
ul li {
  position: relative;
  background-color: #cc4242;
  counter-increment: boxes;
}
ul li:nth-child(2n) {
  background-color: #ff5353;
}
ul p {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  width: 95%;
  padding: 12px 2px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  color: #282828;
  background-color: #ccc;
}
ul li:nth-child(2n) p {
  background-color: #fff;
}
ul span {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 5%;
  text-align: center;
  font-family: 'Times New Roman', sans-serif;
}
ul span::before {
  content: counter(boxes);
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 34px;
  height: 34px;
  margin-left: -17px;
  margin-top: -17px;
  font-size: 24px;
  line-height: 1.4;
  color: #fff;
  text-shadow: 0 0 5px rgba(0,0,0,.5);
}
