body {
    background-color: #f7f7f7;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    min-width: 320px;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
    display: inline-block;
}

.clear-fix {
    display: table;
    content: "";
    clear: both;
}

.site-center {
    max-width: 1200px;
    margin: auto;
    padding: 0 15px;
}

.head-top {
    padding: 10px 0;
    box-sizing: border-box;
    background: #2b2b2b;
    width: 100%;
    height: 35px;
}

.head-tel {
    float: left;
}

.head-tel a {
    color: #7f7f7f;
    font-weight: 300;
}

.head-login {
    float: right;
}

.head-login a {
    color: #666666;
}

.head-login a:hover {
    text-decoration: underline;
}

.head-login span {
    color: #3b3b3b;
    font-size: 12px;
    padding: 0 10px;
}

.head-main {
    padding-top: 30px;
    box-sizing: border-box;
    background: #232323;
    width: 100%;
    height: 168px;
}

.head-logo {
    float: left;
}

.head-search {
    float: right;
}

@media (max-width: 500px) {
    .head-logo {
        float: none;
        width: 100%;
        text-align: center;
    }

    .head-search {
        float: none;
        text-align: center;
        margin: 20px auto 0;
    }
}

.head-search input {
    position: relative;
    background: #232323;
    font-size: 13px;
    font-weight: 300;
    color: #666666;
    border: 1px solid #323232;
    width: 275px;
    height: 45px;
    padding: 0 40px 0 25px;
    left: 20px;
}

@media (max-width: 350px) {
    .head-search input {
        width: 265px;
    }
}

.head-search button {
    position: relative;
    border: none;
    background: url(../img/search.png) no-repeat;
    width: 18px;
    height: 18px;
    right: 20px;
    cursor: pointer;
    vertical-align: middle;
}

.head-main nav {
    float: left;
}

.head-main ul {
    margin-top: 30px;
    padding: 0;
}

.head-main ul li {
    margin-right: 40px;
}

@media (max-width: 720px) {
    .head-main ul li {
        display: block;
        margin: 0 auto 20px;
    }
}

.head-main ul li a {
    font-size: 16px;
    color: #ffffff;
}

.head-main ul li a:hover,
.head-main .active {
    color: #be926f;
}

.head-bag {
    float: right;

}

.head-bag a {
    position: relative;
    right: 10px;
    top: 30px;
}

.head-bag a::after {
    position: absolute;
    left: 10px;
    top: -14px;
    width: 18px;
    height: 18px;
    border-radius: 100%;
    font-size: 12px;
    line-height: 1.5;
    text-align: center;
    color: #232323;
    background-color: #be926f;
    content: attr(data-counter);
}

.content-top {
    margin: 30px 0;
    box-sizing: border-box;
    background: #e7e7e7;
    height: 115px;
}

.content-top h1 {
    font-size: 30px;
    padding: 20px;
    text-transform: uppercase;
    float: left;
}

.content-nav {
    padding: 40px 20px;
    float: right;
}

.content-nav li:nth-child(1)::after {
    content: '/';
    color: #999999;
    padding-left: 10px;
    padding-right: 5px;
}

.content-nav a {
    color: #666666;
    text-transform: uppercase;
}

.content-nav a:hover,
.content-nav .active {
    color: #999999;
}