body {
    counter-reset: num;
    width: 870px;
    margin: auto;
    background: #555555;
}

p {
    counter-increment: num;
    margin: 0;
    padding: 13px 3px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.28;
    background: #cccccc;
    position: relative;
}

p::before {
    content: counter(num);
    font-family: 'Times New Roman', serif;
    font-size: 24px;
    color: #fff;
    top: 0;
    width: 50px;
    left: -50px;
    height: 100%;
    background: #cc4242;
    text-align: center;
    position: absolute;
}

p:nth-child(2n) {
    background: #ffffff;
}

p:nth-child(2n)::before {
    background: #ff5353;
}

p:hover {
    background: #555555;
}

p:hover::before {
    background: #551c1c;
}