// blog
// ------------------------------------------
// blog
.blog{
  background: #f4f5f9;
  padding: 112px 0;
  .blog-title{
    text-align: center;
    h2{
      text-shadow: 0 1px 0 #ffffff;
      color: #6a6a6a;
      font-family: "Source Sans Pro",sans-serif;
      font-size: 36px;
      font-weight: 700;
      text-transform: uppercase;
    }
    p{
      color: #999999;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.5;
      margin: 20px 0 23px
    }
    .center-one{
      span{
        margin: 0 auto;
        display: block;
        width: 8px;
        height: 7px;
        background-color: #e74c3c;
        border-radius: 50%;
        position: relative;
        margin-bottom: 68px;
        &:after{
          position: absolute;
          content: '';
          width: 80px;
          height: 2px;
          border: 1px solid #c6c7c9;
          top: 3px;
          left: 14px;
        }
        &:before{
          position: absolute;
          content: '';
          width: 80px;
          height: 2px;
          border: 1px solid #c6c7c9;
          top: 3px;
          right: 14px;
        }
      }
    }
  }
  .blog-main{
    display: flex;
    @media (max-width: 1100px){
      flex-wrap: wrap;
    }
    @media (max-width: 600px){
      flex-direction: column;

    }
    .blog-img{
      width: 25%;
      height: 480px;
      background: url("..//img/blog-1.png")  no-repeat;
      background-size: cover;
      @media (max-width: 1366px){
        background-size: cover;
      }
      @media (max-width: 1100px){
        width: 50%;
      }
      @media (max-width: 600px){
        width: 100%;
      }
    }
    .blog-img-two{
      background: url("..//img/blog-2.png") 50% 50% no-repeat;
    }
    .blog-img-three{
      background: url("..//img/blog-3.png") 50% 50% no-repeat;
    }
    .blog-img-four{
      background: url("..//img/blog-4.png") 50% 50% no-repeat;
    }
    .blog-content{
      width: 25%;
      height: 480px;
      background: #e74e3e;
      padding: 70px 15px 70px 65px;
      position: relative;
      @media (max-width: 1366px){
        padding: 25px 15px;
      }
      @media (max-width: 1100px){
        width: 50%;
      }
      @media (max-width: 600px){
        width: 100%;
      }
      .blog-content-title{
        .art{
          display: flex;
          a{
            color: #ffffff;
            font-size: 14px;
            font-weight: 400;
            letter-spacing: 0.7px;
          }
          .art-1{
            position: relative;
            margin-right: 15px;
            &:after{
              content: '/';
              display: block;
              position: absolute;
              right: -10px;
              top: 0;
            }
          }
        }
        h2{
          color: #ffffff;
          font-family: "Source Sans Pro - Semibold",sans-serif;
          font-size: 24px;
          font-weight: 400;
          text-transform: uppercase;
          letter-spacing: 1.2px;
          position: relative;
          margin: 18px 0 60px;
          &:before{
            display: block;
            position: absolute;
            content: '';
            width: 44px;
            height: 4px;
            background-color: #ffffff;
            bottom: -20px;
          }
        }
      }
      p{
        max-width: 380px;
        color: #ffffff;
        font-size: 15px;
        font-weight: 400;
        line-height: 1.875
      }
      .read{
        color: #ffffff;
        font-size: 18px;
        font-weight: 400;
        line-height: 1.33;
        font-style: italic;
        position: relative;
        margin-top: 53px;
        display:inline-block;
        &:before{
          display: block;
          content: '>>';
          position: absolute;
          right: -30px;
          top: 1px;
        }
      }
      &:before{
        content: '';
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        border: 35px solid transparent;
        border-right-color: #e74e3e;
        border-left: 0;
        left: -35px;
        top: 35%;
      }
      @media (max-width: 600px){
        &:before{
          width: 0;
          height: 0;
          border: 35px solid transparent;
          border-bottom-color: #e74e3e;
          border-top: 0;
          top: -7%;
          left: 44%;
        }
      }
    }
    .blog-content-three,.blog-content-four{
      &:before{
        left: 100%;
        width: 0;
        height: 0;
        border: 35px solid transparent;
        border-left-color: #e74e3e;
        border-right: 0;
      }
      @media (max-width: 600px){
        &:before{
          width: 0;
          height: 0;
          border: 35px solid transparent;
          border-bottom-color: #e74e3e;
          border-top: 0;
          top: -7%;
          left: 44%;
        }
      }
    }
  }
  .blog-main-two{
    @media (max-width: 600px) {
      flex-direction: column-reverse;
    }
  }
}