// HEADER
// --------------------------------------------
// HEADER
header{
  background: url("..//img/bcg-header.jpg") 50% 50% no-repeat;
  background-size:cover;
  height: 991px;


}
.header-main {
  position: relative;
  padding-top: 40px;

}
.header-top{
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 1050px) {
    flex-wrap: wrap;
  }
}
.default{
  max-width: 1200px;
  padding: 0 15px;
}
.fixed{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  box-shadow: 5px 5px 20px #333;
  background: #333;
  opacity: 0.8;
  padding: 20px 0;
  .nav-menu{
    margin-right: 20px;
    @media (max-width: 1050px) {
      margin-right: 0;
    }
    a{
      padding-bottom: 10px;
    }
  }
  .header-logo{
    margin-left: 20px;
    img{
      width: 110px;
      height: 42px;
    }
  }
  .burger{
    margin-right: 20px;
  }
}
.nav-menu {
  @media(max-width: 1050px){
    display: none;
    position: relative;
    width: 100%;
  }
  ul{
    display: flex;
    justify-content: space-between;
    @media(max-width: 1050px){
      flex-direction: column;
      position: absolute;
      width: 100%;
      z-index: 2;
      background:#3e3e41;
      opacity: 0.9;
    }
    li{
      margin-left: 30px;
      margin-right: 30px;
      @media (max-width: 1050px) {
        margin: 10px 20px 20px 20px;
        text-align: center;
        &:last-child{
          margin-right: 20px;
        }
      }
      &:last-child{
        margin-right: 0px;
      }
    }

    a{
      color: #f4f5f9;
      font-size: 14px;
      font-weight: 400;
      text-transform: uppercase;
      text-decoration: none;
      padding-bottom: 20px;

      &:hover{
        color: #e74c3c;
        border-bottom:1px solid #e74c3c;;
      }
    }
    .active{
      color: #e74c3c;
      border-bottom:1px solid #e74c3c;;
    }
  }
}
.burger {
  display: none;
  @media (max-width: 1050px) {
    display: block;
  }

  button{
    display: flex;
    flex-direction: column;
    border: none;
    background: rgba(250,0,0,0);
    cursor: pointer;
    outline: 0;

  }
  span{
    width: 30px;
    height: 3px;
    background-color: #fff;
    display: inline-block;
    margin-top: 5px;
  }
}
.header-center{
  margin-top: 224px;
  @media (max-width: 570px) {
    margin-top: 100px;
  }
}

.header-slider{
  .slick-prev{
    background: #706964;
    border: none;
    outline: 0;
    cursor: pointer;
    height: 45px;
    width: 45px;
    top: 50%;
    left: -45px;
    position: absolute;
    z-index: 2;
    @media(max-width: 1250px){
      left: 0;
    }
    @media(max-width: 750px){
      top: 105%;
      left: 30%;
    }
    &:hover{
      background: #e74c3c;
    }
    &:before{
      position: absolute;
      background: #333;
      width: 3px;
      height: 10px;
      content: '';
      transform: skew(45deg);
      left: 20px;
      top: 22px;
    }
    &:hover:before{
      background: #fff;
    }
    &:hover:after{
      background: #fff;
    }
    &:after{
      position: absolute;
      background: #333;
      width: 3px;
      height: 10px;
      content: '';
      transform: skew(-45deg);
      left: 20px;
      top: 12px;
    }
  }
  .slick-next{
    background: #706964;
    border: none;
    outline: 0;
    cursor: pointer;
    height: 45px;
    width: 45px;
    top: 50%;
    right: -45px;
    position: absolute;
    @media(max-width: 1250px){
      right: 0;
    }
    @media(max-width: 750px){
      top: 105%;
      right: 30%;
    }
    &:hover{
      background: #e74c3c;
    }
    &:before{
      position: absolute;
      background: #333;
      width: 3px;
      height: 10px;
      content: '';
      transform: skew(-45deg);
      left: 20px;
      top: 22px;
    }
    &:hover:before{
      background: #fff;
    }
    &:hover:after{
      background: #fff;
    }
    &:after {
      position: absolute;
      background: #333;
      width: 3px;
      height: 10px;
      content: '';
      transform: skew(45deg);
      left: 20px;
      top: 12px;
    }
  }
}

.head-slider-one{
  outline: 0;
  .top{
    text-align: center;
    span{
      color: #f4f5f9;
      font-family: "Source Sans Pro" , sans-serif;
      font-size: 24px;
      font-weight: 400;
      letter-spacing: 1.2px;
    }
    h2{
      color: #f4f5f9;
      font-size: 72px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 7.2px;
      text-align: center;
      margin: 25px 0px 33px;
      @media(max-width: 850px){
        font-size: 40px;
      }
    }
  }
  .center{

    .center-one{

      span{
        margin: 0 auto;
        display: block;
        width: 8px;
        height: 7px;
        background-color: #e74c3c;
        border-radius: 50%;
        position: relative;

        &:after{
          position: absolute;
          content: '';
          width: 80px;
          height: 2px;
          border: 1px solid #f1ebe7;
          top: 3px;
          left: 14px;
        }

        &:before{
          position: absolute;
          content: '';
          width: 80px;
          height: 2px;
          border: 1px solid #f1ebe7;
          top: 3px;
          right: 14px;
        }
      }
    }
    .center-two{
      text-align: center;
      margin: 43px 0px 65px ;
      p{
        display: inline-block;
        max-width: 583px;
        color: #cbc6c0;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.714;
        text-align: center;
      }
    }
  }
  .bottom{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    @media (max-width: 550px) {
      justify-content: space-around;
    }

    .bottom-left{
      margin-right: 70px;
      @media (max-width: 550px) {
        margin-right: 0;
      }
      @media (max-width: 480px) {
        margin-bottom:15px;
      }
    }
    button{
      outline: none;
      width: 225px;
      height: 56px;
      border-radius: 3px;
      background: #fff;
      cursor: pointer;
      border: 1px solid #fff;
      background: rgba(255,0,0,0);
      color: #ffffff;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      &:hover{
        background: #e74c3c;
        border: 1px solid #e74c3c;
        opacity: 0.7;
      }
    }
    .active{
      background: #e74c3c;
      border-radius: 3px;
      border-color:#e74c3c;
    }
  }
}
.anchor{
  width: 64px;
  height: 64px;
  position: absolute;
  bottom: -4%;
  left: 46%;
  background: #f4f5f9;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  @media (max-width: 500px) {
    left: 43%;
  }
  &:before{
    width: 74px;
    height: 74px;
    background-color: rgb(255, 255, 255);
    opacity: 0.25;
    content: "";
    display: block;
    position: absolute;
    border-radius: 50%;
  }
  a{
    display: block;
    background: url("..//img/anchor.svg") 50% 50% no-repeat;
    width: 22px;
    height: 31px;
  }
}


.burger-close{
  span{
    position:absolute;
    right: 15px;
    &:nth-child(1){
      display: none;
    }
    &:nth-child(2){
      transform: rotate(45deg);
    }
    &:nth-child(3){
      transform: rotate(-45deg);
    }
  }
}



