// study
// -----------------------------------------
// study
.study{
  background: #f4f5f9;
  padding-top: 141px;
  padding-bottom: 150px;
  .center-one{
    span{
      margin: 0 auto;
      display: block;
      width: 8px;
      height: 7px;
      background-color: #e74c3c;
      border-radius: 50%;
      position: relative;

      &:after{
        position: absolute;
        content: '';
        width: 80px;
        height: 2px;
        border: 1px solid #c6c7c9;
        top: 3px;
        left: 14px;
      }

      &:before{
        position: absolute;
        content: '';
        width: 80px;
        height: 2px;
        border: 1px solid #c6c7c9;
        top: 3px;
        right: 14px;
      }
    }
  }
  .study-title{
    text-align: center;
    h2{
      color: #6a6a6a;
      font-family: "Source Sans Pro",sans-serif;
      font-size: 36px;
      font-weight: 700;
      letter-spacing: 3.6px;
    }
    p{
      color: #999999;
      font-size: 14px;
      font-weight: 400;
      line-height: 29px;
      margin: 12px 0 22px;
    }
  }
  .study-main{
    margin-top: 68px;
    display: flex;

    @media(max-width: 1000px){
      justify-content: center;
    }
    .study-left{

      text-align: center;
      width: 665px;
      height: 629px;
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
      background-color: #ffffff;
      padding: 50px;
      position: relative;
      z-index: 4;
      margin-right: -80px;
      margin-top: 45px;
      @media(max-width: 1000px){
        margin-right: 0;
        width: 100%;
      }
      @media(max-width: 430px){
        padding: 15px;
      }
      .study-slide{
       
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .slick-dots{
        display: flex;
        justify-content: center;
        margin-top: 50px;
        li{
          margin-right: 7px;
          button{
            border: none;
            background-color: #f4f5f9;
            border-radius: 50%;
            width: 12px;
            height: 12px;
            text-indent: -9999px;
            cursor: pointer;
            outline: 0;
          }
        }

      }
      .study-slide-icon{
        transform: rotate(45deg);
        margin: 46px auto 68px;
        width: 95px;
        height: 95px;
        background-color: #e74c3c;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        @media(max-width: 510px){
          margin: 20px auto 40px;
        }
        span{
          position: absolute;
          font-size: 40px;
          display: block;
          color: #fff;
          transform: rotate(-45deg);
        }
        }
      }
      h2{
        color: #6a6a6a;
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1.35px;
      }
      .study-line{
        margin-top: 30px;
        span{
          width: 41px;
          height: 2px;
          border: 1px solid #6a6a6a;
          display: block;
          margin: 0 auto;
        }
      }
      p{
        max-width: 543px;
        color: #999999;
        font-family: "Source Sans Pro",sans-serif;
        font-size: 14px;
        font-weight: bold;
        line-height: 1.714;
        letter-spacing: 1.05px;
        margin: 21px 0 48px;

      }
      .study-button{
        width: 145px;
        height: 46px;
        box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.25);
        background-color: #e74c3c;
        border: none;
        outline: 0;
        text-transform: uppercase;
        color: #ffffff;
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 0.14px;
        cursor: pointer;
      }
    }
    .study-right{
      width: 585px;
      height: 722px;
      img{
        width: 100%;
        height: 722px;
      }
      @media(max-width: 1000px){
        display: none;
      }
    }
  }
.red2{
  background: #e74c3c!important;

}
