
$color_1: #fff;
$color_2: #000;
$color_3: #4c76ff;
$color_4: #354a5a;
$color_5: #4b71ec;
$color_6: #4b71ed;
$color_7: #efefef;
$color_8: #062033;
$color_9: #282528;
$color_10: #fefce9;
$color_11: #5b80fa;
$color_12: #5477f3;
$color_13: #d4ab75;
$color_14: #4d6277;
$color_15: #0eb493;
$color_16: #384d5c;
$color_17: #6a737b;
$color_18: #5b646e;
$color_19: #010305;


